.container {
  padding: 10px;
  max-width: 1024px;
  margin: 0 auto;
}

.headerCont {
  display: flex;
  align-items: center;
  padding: 2rem 0;

  p {
    width: 20%;
    text-align: center;
    color: #FBFF00;
  }
}