.container {
  padding: 1rem 1rem 10rem 1rem;
  max-width: 1024px;
  margin: 0 auto;
}

.headerCont {
  display: flex;
  align-items: center;
  padding: 2rem 0;

  p {
    width: 20%;
    text-align: center;
    color: #FBFF00;
    text-transform: uppercase;
  }
}